h1 {
  display: inline;
}

#logo:hover  h1{
  cursor: pointer;
  color: black !important;
}


h1#second {
  color: #673AB7;
}

mat-sidenav > button {
  display:block;
}

mat-sidenav {
  background-color: rgba(201, 190, 188, 0);
  border-right: 1px solid black;
}

footer {
  text-align: center;
  color: slategray;
  font-size: 10pt;
}

.container {
  min-height: 100%;
}
