div:hover h1 {
  cursor: pointer;
  color: black !important;
}

h1 {
  display: inline;
}

h1#second {
  color: #673AB7;
}

mat-sidenav > button {
  display:block;
}

mat-sidenav {
  background-color: blanchedalmond;
}

footer {
  text-align: center;
  color: slategray;
  font-size: 10pt;
}
